.chat-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 600px !important;
}

textarea {
    width: 100%;
}

.cardPlayer{
    border: 1px solid #ffccaa;
    cursor: pointer;
}